@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../assets/fonts/HelveticaNeueLTStd-Blk.eot');
    src: url('../assets/fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLTStd-Blk.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype'),
        url('../assets/fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../assets/fonts/HelveticaNeueLTStd-Md.eot');
    src: url('../assets/fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
        url('../assets/fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../assets/fonts/HelveticaNeueLTStd-Th.eot');
    src: url('../assets/fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLTStd-Th.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'),
        url('../assets/fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

